.paginator {
  padding: 0.5rem 1rem;
  gap: 5px;

  .page {
    cursor: pointer;
    border-radius: 5px;
    padding: 0.4rem 0.6rem;
    width: 24px;
    height: 24px;

    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;

    &.active {
      border: 1px solid #ccc;
    }

    &.ellipsis {
      cursor: default;
    }

    &:not(.ellipsis):hover {
      background: #ccc;
      // color: white;
    }
  }
}
