.posts-list-page {
  height: calc(100% - 50px);
  overflow-y: auto;

  .posts-list {
    max-width: 1000px;
    width: 100%;
    padding-bottom: 2rem;

    &-item {
      border: 2px solid var(--secondary-color);
      border-radius: 6px;
      width: 100%;

      a {
        text-decoration: none;
        color: black
      }
    }
  }

  .observe {
    visibility: hidden;
    height: 50px;
    width: 50px;
    display: block;
  }

  .delete-btn {
    color: var(--additional-color);
  }
}
