.posts-list-page {
  height: 100%;
  overflow-y: auto;

  .posts-list {
    max-width: 1000px;
    height: 100%;
    width: 100%;
    gap: 0.5rem;

    &-item {
      border: 1px solid #ccc;
      border-radius: 6px;
      padding: 1rem;
      width: 100%;
    }
  }

  .paginator {
    margin-top: auto;
  }
}
